PORT=your_backend_port
ENCRYPT_ROUND=your_encrypt_round
FRONT_DOMAIN=your_frontend_domain
ROOT_PASSWORD=initial_admin_email_password
COOKIE_SECURE_MODE=2_choice_is_development_production
JWT_SECRET=your_jwt_secret

MAIL_HOST=your_mail_host
MAIL_PORT=your_mail_port
MAIL_USER=your_user_mail
MAIL_PASS=your_mail_password

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Don't change!!!
DATABASE_URL="file:./dev.db"